<!DOCTYPE html>
<html>
<%- include("./segments/head.ejs") %>

    <body>
        <%- include("./segments/header.ejs") %>
            <main>
                <div class="personalSpace">
                    <h2>Privater Bereich</h2>
                    <div id="personalSpace">
                        <% try {let id=0; (data.privateSpace[userId]).forEach(item=> { if (item != null) { %>
                            <img id="<%= id %>" src="/res/gamedata/objectdata/<%= item.image %>" alt="<%= item.name %>" flipable="<%= item.flipable %>">
                            <% } id++; });} catch (e) {}%>
                    </div>
                </div>
                <div id="gameboard">
                    <% id=0; data.gameboard.forEach(item=> { if(item != null) {%>
                        <div class="animated" id="<%= id %>" objType="<%= item.type %>" locked="<%= item.locked %>" flipable="<%= item.flipable %>" style="top: <%= item.y %>px; left: <%= item.x %>px; transform: rotate(<%= item.rotation %>deg);">
                            <img src="/<%= gameCode %>/<%= id %>" alt="<%= item.name %>"></img>
                        </div>
                        <%} id++; }); %>
                </div>
                <div class="sidebar">
                    <div class="library">
                        <h2>Bibliothek</h2>
                        <div id="library">
                            <% id=0; data.library.forEach(item=> { %>
                                <img id="<%= id %>" src="/res/gamedata/objectdata/<%= item.image %>" alt="<%= item.name %>" tooltip="<%= item.name %>">
                                <%id++; }); %>
                        </div>
                    </div>
                    <div class="chat">
                        <h2>Chat</h2>
                        <div id="messages">
                            <% data.messages.forEach(message=> { %>
                                <p>
                                    <%= message.owner + ": " + message.text %>
                                </p>
                                <% }); %>
                        </div>
                        <div class="compose">
                            <input type="text" id="chatInput" placeholder="Nachricht...">
                            <button id="chatSend">✉</button>
                        </div>
                    </div>
                </div>
                <div id="contextMenu">
                </div>
            </main>
            <script src="/js/game.js"></script>
            <script src="/js/chat.js"></script>
            <script src="/js/contextMenu.js"></script>
    </body>

</html>