<!DOCTYPE html>
<html>
<%- include("./segments/head.ejs") %>

    <body>
        <%- include("./segments/header.ejs") %>
            <main>
                <div class="container">
                    <h2>Wähle ein Spiel</h2>
                    <div class="list">
                        <% let id=0; presetList.forEach(presetName=> { %>
                            <div class="preset">
                                <img id="<%=id%>" src="/res/gamedata/presetdata/<%= presetName %>.png" alt="<%= presetName %>cover">
                            </div>
                            <%id++; }); %>
                    </div>
                </div>
            </main>
            <%- include("./segments/footer.ejs") %>
                <script src="/js/new.js"></script>
    </body>

</html>